[run]
source=
    authenticate/
    calculator/
    config/
    exercise/
    weight/
    workout/
    workout_settings/
    workout_template/
omit=
    */migrations/*
    */tests/*
    */__init__.py/
    */serializers.py
    manage.py
    config/?sgi.py
    config/settings.py
[report]
show_missing=True
skip_covered=True